/*Cambia el color de fondo de la pagina en general H*/
.content{
    background-color: rgb(80, 77, 74);
}
/*Cambia el color de fondo del encabezado H*/
.header__banner{
    background-color: rgb(255, 255, 255);
}
/*Cambia el color de la letra del titulo H*/
.galery__link{
    color: rgb(0, 0, 0);
}
/*Cambia el tipo de letra del titulo a Oswald H*/
/*Cambia el tamaño de la letra del titulo a 36px H*/
.banner__title{
    font-family: "Oswald", Arial, Sans-Serif;
    font-size: 36px;
}
/*Cambia el tipo de letra del titulo de la galeria a Oswald H*/
/*Cambia el color de la letra del titulo de la galeria h*/
/*Cambia el tamaño de la letra del titulo de la galeria a 24px h */
.galery__issue{
    font-family: "Oswald", Arial, Sans-Serif;
    color: rgb(255, 253, 253);
    font-size: 24px;
}
/*Cambia el tipo de letra del titulo de la galeria a Montserrat*/
/*Cambia el color de la letra del titulo de la galeria*/
/*Cambia el tamaño de la letra del titulo de la galeria*/
.galery__figure{
    background-color: white;
}
/*Cambia las dimensiones de las fotos de la galeria*/
/*imagen1*/
.galery__figure > img:nth-child(1){
    width: 1000px;
    height: 510px;
}
/*imagen2*/
.galery__figure > img:nth-child(2){
    width: 500px;
    height: 500px;
}
/*imagen3*/
.galery__figure > img:nth-child(3){
    width: 500px;
    height: 500px;
}
/*imagen4*/
.galery__figure > img:nth-child(4){
    width: 1000px;
    height: 800px;
}
/*imagen5*/
.galery__figure > img:nth-child(5){
    width: 1000px;
    height: 801px;
}
/*Cambiar el de fondo del pie de pagina*/
/*Cambia la alineacion del texto a al centro*/
.footer{
    background-color: rgb(182, 110, 110);
    text-align: center;
}
/*Cambia el tipo de letra del pie de pagina a Montserrat*/
/*Cambia el color de la letra del pie de pagina*/
/*Cambia el tamaño de la letra del pie de pagina a 30px*/
.paragraph__text{
    font-family: "Sans Serif", Arial, Sans-Serif;
    color: white;
    font-size: 18px;
}
